#full {
    background: #A1C4FD;
    width: 100%;
    height: 100%;
    display: table;
}

#text {
    font-size: 40px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
}