#full {
    width: 100%;
    height: 100%;
    background: #A1C4FD;
    position: relative;
}

#text {
    position: absolute;
    font-family: 'Gill Sans';
    font-size: 45px;
    font-weight: bold;
    color: white;
    left: 50%;
    margin-left: -90px;
    top: 30%;
}

#aa{
    position: absolute; 
    background: white;
    margin-left: 160px;


    /* 원 모양 만들기 */
    width: 12px;
    height: 12px;
    border-radius: 25px;

    /* 아래에서 만든 애니메이션 적용하기 */
    animation-name: bounce1;
    animation-duration: 1s;
    animation-iteration-count: 500; /* 반복 횟수 */
}

#bb{
    position: absolute; 
    background: white;
    margin-left: 180px;


    /* 원 모양 만들기 */
    width: 12px;
    height: 12px;
    border-radius: 25px;

    /* 아래에서 만든 애니메이션 적용하기 */
    animation-name: bounce2;
    animation-duration: 1s;
    animation-iteration-count: 500; /* 반복 횟수 */
}

#cc{
    position: absolute; 
    background: white;
    margin-left: 200px;


    /* 원 모양 만들기 */
    width: 12px;
    height: 12px;
    border-radius: 25px;

    /* 아래에서 만든 애니메이션 적용하기 */
    animation-name: bounce3;
    animation-duration: 1s;
    animation-iteration-count: 500; /* 반복 횟수 */
}

/* 공 튀기는 애니메이션 만들어보기 */
@keyframes bounce1{
    0%, 100%{
        bottom: 0px;
        animation-timing-function: ease-out;
    }

    50%{
        bottom: 30px;
        animation-timing-function: ease-in;
    }
}

@keyframes bounce2 {
    0%{
        bottom: 15px;
    }
    25%{
        bottom: 0px;
        animation-timing-function: ease-out;
    }
    75%{
        bottom:30px;
        animation-timing-function: ease-in;
    }
    100%{
        bottom: 15px;
    }
}

@keyframes bounce3 {
    0%,100%{
        bottom: 30px;
        animation-timing-function: ease-in;
    }
    50%{
        bottom: 0px;
        animation-timing-function: ease-out;
    }
}