<ion-content [fullscreen]="true">
  <div id = "top">
    <!--img src="./assets/previous.png" class="previous" ng-click="gotoHomePage()"/-->
    <!--ion-button class="button button-clear" style="background-image:url('./assets/previous.png'); background-size:cover" href='../home'></ion-button>-->

    <img src="./assets/previous.png" class="previous" (click)="gotoHomePage()" block>
    
    <div id = "text">
      선택한 역
    </div>
  </div>
  <div id='lists'>
    <ion-content 
    [scrollEvents]="true"> 
    <ion-list>  
    <ion-item *ngFor="let item of items"> 
    <ion-label>{{ item }}</ion-label> 
    </ion-item> 
    </ion-list> 
    </ion-content>  
  </div>
  <div id = "find">
    <button class = "rect" type="button" (click)="gotoFindingPage()" block>
      Find Station!
    </button>
  </div>
</ion-content>
