<ion-content [fullscreen]="true">
  <div id = "top">
    <div id = "textbox">
      <form>
        <input type = "search" name = "search" placeholder = "역 찾기" class = "find" 
        onfocus="this.placeholder=''" onblur="this.placeholder='역 찾기'">
      </form>
    </div>
  </div>
  <div id="metromap">
    <!--object data="./assets/mapimage.svg" type="image/svg+xml" aria-label="지도" class = "svg"></object-->
    <iframe src="./assets/mapimage.svg" aria-label="지도" class="svg"></iframe>
  </div>
  <div id="circle">
    <button (click)="gotoFindPage()" block class = "button">
      <img src="./assets/find.png">
    </button>
  </div>
</ion-content>
