#metromap{
  position: absolute;
  top: 8%;
  width: 100%;
  height: 92%;
  overflow: scroll;
  background-color: #ffffff;
}

#circle{
  position: absolute;
  top: 85%;
  left: 75%;
}

#top {
  position: absolute;
  width: 100%;
  height: 8%;
  border-bottom: 2px solid #C4C4C4;
  background-color: #ffffff;
}

#textbox {
  padding-left: 10%;
}

#viewport {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -80px;
}
.wrapper > img {
  width: 100%;
  display: block;
  height: auto;
}

.find {
  margin-top: 2%;
  position: absolute;
  width: 88%;
  right: 1%;
  font-size: 1.375rem;
  background-color: #F0F0F0;
  border: 1px solid gray;
  color: gray;
}

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  height: 5rem;
  width: 5rem;
  border-radius: 90px;
  position: absolute;
  background: #A6C1EE;

}